#backgroundImg {
    width: 100%;
    height: auto;
    filter: blur(4px);
}

#homepage {
    display: flex;
    flex-direction: column;
}

#navbar-home {
    height: 80px;
    background-color: #451272;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 #photosUpload {
     background-color: #D79FF0;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 30px;
     width: 30px;
     margin: 0px;
     margin-right: 20px;
     border: 0;
 }

 #username-navbar {
     margin-right: 10px;
     color: white;
 }
 
 #btn-profile{
    height: 50px;
    width: 50px;
    margin: 0;
    margin-right: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 0;
 }

 #imgProfile {
     height: 50px;
     width: 50px;
     border-radius: 50px;
 }



 ul {
     display: flex;
     align-items: center;
     height: 20px;
 }