#backgroundImg {
    width: 100%;
    height: 100vh;
    filter: blur(4px);
    position: fixed;
    z-index: -1;
}

#homepage {
    display: flex;
    flex-direction: column;
}

#navbar-home {
    height: 80px;
    background-color: #451272;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#right-homebar-area, #left-homebar-area{
    display: flex;
    align-items: center;
}
#right-homebar-area p{
    color: #EDCEF7;
    font-size: 42px;
    margin-left: 0.5em;
}
#logo-svg-homebar{
    height: 60px;
    margin-left: 0.8em;
}
 #photosUpload {
     background-color: #D79FF0;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 30px;
     width: 30px;
     margin: 0px;
     margin-right: 20px;
     border: 0;
 }

 #username-navbar {
     margin-right: 10px;
     color: white;
 }
 
 #btn-profile{
    height: 50px;
    width: 50px;
    margin: 0;
    margin-right: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 0;
 }

 #imgProfile {
     height: 50px;
     width: 50px;
     border-radius: 50px;
 }



 ul {
     display: flex;
     align-items: center;
     height: 20px;
 }

#photos-display{
    margin-top: 80px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.photo-box{
    height: 50vh;
    background-color: #fff;
    width: 22vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #451272;
 }
.photo-box-header{
    display: flex;
    justify-content: left;
    align-items:center;
    width: 100%;
}
.photo-box-header img{
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.photo-box-body{
    display:flex;
    align-items: center;
    flex-direction: column;
    max-height: 70%;
}
.photo-box-body img{
    width: 95%;
    height: 100%;
}
.photo-box-footer{
    display: flex;
    gap: 15px;
    justify-content: left;
    width: 97%;
    padding-left: 3%;
}
.photo-box-heart-img{
    padding-left: 1em;
    padding-right: 1em;
}
.photo-box-heart-img:hover{
    
    background-color: rgba(0, 0, 0, 0.116);
}